version: '3'
services:

  porter:
    image: python:crawler
    working_dir: "/root/porter"
    container_name: porter
    stdin_open: true
    tty: true
    volumes: 
      - "../porter:/root/porter"
      - "../fuck_sina:/root/fuck_sina"
      - "../fuck_intl:/root/fuck_intl"
      - "../fuck_bilibili:/root/fuck_bilibili"
      - "../movpy:/root/movpy"
      - "../toolpy:/root/toolpy"
      - "./data/ImageMagick/policy.xml:/etc/ImageMagick-6/policy.xml"
      - "./data/ssl/openssl.cnf:/etc/ssl/openssl.cnf"

  # redis:
  #   image: redis
  #   container_name: redis
  #   hostname: redis
  #   environment:
  #     - "TZ=Asia/Shanghai"
  #   ports: 
  #     - "6379:6379"