version: '3'
services:

  porter:
    image: python:crawler
    working_dir: "/root/porter"
    command: sh run.sh
    volumes: 
      - "../porter:/root/porter"
      - "../fuck_sina:/root/fuck_sina"
      - "../fuck_intl:/root/fuck_intl"
      - "../fuck_bilibili:/root/fuck_bilibili"
      - "../movpy:/root/movpy"
      - "../toolpy:/root/toolpy"
      - "./data/ImageMagick/policy.xml:/etc/ImageMagick-6/policy.xml"
      - "./data/ssl/openssl.cnf:/etc/ssl/openssl.cnf"
    deploy:
      replicas: 1
      restart_policy:
        condition: any
        delay: 30m

      resources:
        limits:
          memory: 1000M
        

  # redis:
  #   image: redis
  #   container_name: redis
  #   hostname: redis
  #   environment:
  #     - "TZ=Asia/Shanghai"
  #   volumes:
  #     - "./data/redis/data:/data"
  #     - "./data/redis/redis.conf:/etc/redis.conf"
  #   ports: 
  #     - "6379:6379"
  #   deploy:
  #     replicas: 1
  #     restart_policy:
  #       condition: any
  #     resources:
  #       limits:
  #         memory: 200M