version: '3'
services:

  porter:
    image: python:naruto
    working_dir: "/root/porter"
    container_name: porter
    stdin_open: true
    tty: true
    volumes:
      - "/root/github/porter:/root/porter"
      - "/root/github/fuck_sina:/root/fuck_sina"
      - "/root/github/fuck_intl:/root/fuck_intl"
      - "/root/github/fuck_bilibili:/root/fuck_bilibili"
      - "/root/github/movpy:/root/movpy"

  redis:
    image: redis
    container_name: redis
    hostname: redis
    environment:
      - "TZ=Asia/Shanghai"
    ports: 
      - "6379:6379"